<html>
<form action="/Brew" method="Post">
  <center>
  <h1>Choose your Roast</h1>
  </center>
  Your name: <input type="text" name="firstname" value="">
  <br>
  <br>Pick a Roast:<br>
  <input type="radio" name="roastType" value="Starbucks Sumatra Dark">Starbucks Sumatra Dark
  <br>
  <input type="radio" name="roastType" value="Dunkin Donuts Dark" checked>Dunkin Donuts Dark
  <br>
  <input type="radio" name="roastType" value="Community Coffee Bold">Community Coffee Bold
<br><br>
<input type="submit" value="Brew It">
</form>

</html>
